/* VARIABLE Vermelho #FF5733, amarelo #FBC02D, azul #1976D2, preto #212121*/
:root {
    --cor-principal: white;
    --cor-fundo: #3b9652;
    --espacamento-padrao: 20px;
}

/*-------*/

/* GENERAL CONFIG */
* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#body {
    display: flex;
    flex-direction: column;
    padding: var(--espacamento-padrao);
    margin-left: 10%;
    max-width: 80%;
    min-height: 100vh;
    background-color: #1976D2;
    font-family: Arial, sans-serif;
    border: 2.5px solid black;
    border-radius: 8px;
}

/*HEADER'S*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #9ab3f8;
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 var(--cor-principal);
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

h1 {
    color: black;
    text-shadow: 2px 2px 4px var(--cor-principal);
    text-align: center;
    border: 1px solid #9ab3f8;
    border-radius: 5px;
    padding: 5px;

}


/* MAIN CONTENTS*/
main {
    max-width: 1000px;
    margin: 0 auto;
    flex: 1;
}

h2 {
    color: black;
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px 2px var(--cor-principal);
}

p {
    color: grey;
}

/*NAVIGATION LINKS*/
.link-menu {
    color: var(--cor-principal);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 var(--cor-principal);
    padding: 5px;
    transition: 0.3s;
    background-color: var(--cor-fundo);
}

.link-menu:hover {
    color: black;
    background-color: #af861e;
}

.link-menu:focus {
    outline: 2px solid var(--cor-principal);
}


/* SECTIONS */
#projetos,
#habilidades,
#apresentacao {
    width: 50vh;
    padding: 20px;
    margin-right: 90vh;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

#projetos {
    width: 135vh;
}

#projetos:hover,
#habilidades:hover,
#apresentacao:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

/* PROJETOS */
.card-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card-projeto {
    position: relative;
    padding: 40px;
    background-color: lightgray;
}

.destaque {
    color: var(--cor-principal);
}

.input-test {
    border: 2.5px solid black;
    border-radius: 6px;
}

.button-test {
    border: 2.5px solid black;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.button-test:hover {
    font-weight: bolder;
    background-color: #2a2a36;
}

footer {
    color: var(--cor-principal);
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.final-text {
    color: rgba(1, 1, 1, 0.5);
    text-align: center;
    text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #clouds {
        width: 200%;
    }

    nav {
        display: inline;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #projetos,
    #habilidades,
    #apresentacao {
        width: 50%;
        margin-right: 0;
    }
}